.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #222222;
  color: #e4e4e4;
  width: 100%;
  padding: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 4.438rem;
}