.header {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.tittle {
  font-size: 2.188rem;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  background: linear-gradient(to right, #4FD1C5, #805AD5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  gap: 4.438rem;
}